{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block body %}
    

    
     
     
         <!-- .cover_1 -->

<div class="container">
<div class="row">
<div class="col">
        <h3 class="mb-5">Login</h3>
       <form action="" method="POST">
                  {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">Login</button>
    {% endbuttons %}
                 
                </form>
                  </div>
</div>
</div>
              
       
      
      {% endblock body %}